MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=robofusion
DEVICE_BASE_URL=http://192.168.4.1
DEVICE_ADAPTER=real
DEVICE_REQUEST_TIMEOUT_MS=2000
NEXT_PUBLIC_DEVICE_CAMERA_URL=http://192.168.4.1/api/v1/camera
NEXT_PUBLIC_DEVICE_ID=rf-01
